<CascadingAuthenticationState>
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData"
                                DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    <UnauthorizedErrorPage/>
                </NotAuthorized>
                <Authorizing>
                    <h1>
                        @localizer[nameof(AppStrings.AuthenticationInProgress)]
                    </h1>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData"
                             Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>
                @localizer[nameof(AppStrings.NotFound)]
            </PageTitle>
            <LayoutView Layout="typeof(MainLayout)">
                <p role="alert">
                    @localizer[nameof(AppStrings.InvalidRoute)]
                </p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>