@model YoutubeLinks.Api.Emails.Models.EmailConfirmationSuccessfulTemplateModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Hello @Model.UserName</h1>
    <p>Your email has been successfully confirmed. You can now log in using your email address.</p>
</body>
</html>