@model YoutubeLinks.Api.Emails.Models.ForgotPasswordTemplateModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Hello @Model.UserName</h1>
    <p>To reset your password, click on the link below:</p>
    <p>@Model.Link</p>
</body>
</html>