@model YoutubeLinks.Api.Emails.Models.ResetPasswordSuccessTemplateModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Hello @Model.UserName</h1>
    <p>Your password has been successfully reset. You can now log in using your new password.</p>
</body>
</html>