@page "/error/forbidden-error"
@attribute [AllowAnonymous]

@inject IStringLocalizer<App> Localizer

<PageTitle>
    @Localizer[nameof(AppStrings.ForbiddenError)]
</PageTitle>

<h1>
    @Localizer[nameof(AppStrings.ForbiddenError)]
</h1>

@code {

}
