@page "/error/notfound-error"
@attribute [AllowAnonymous]

@inject IStringLocalizer<App> Localizer

<PageTitle>
    @Localizer[nameof(AppStrings.NotFoundError)]
</PageTitle>

<h1>
    @Localizer[nameof(AppStrings.NotFoundError)]
</h1>

@code {

}
