@page "/error/unauthorized-error"
@attribute [AllowAnonymous]

@inject IStringLocalizer<App> Localizer

<PageTitle>
    @Localizer[nameof(AppStrings.UnauthorizedError)]
</PageTitle>

<h1>
    @Localizer[nameof(AppStrings.UnauthorizedError)]
</h1>

@code {

}
