@page "/error/unauthorized-error"
@attribute [AllowAnonymous]

<PageTitle>
    @localizer[nameof(AppStrings.UnauthorizedError)]
</PageTitle>

<h1>
    @localizer[nameof(AppStrings.UnauthorizedError)]
</h1>