@page "/error/validation-error"
@attribute [AllowAnonymous]

<PageTitle>
    @localizer[nameof(AppStrings.ValidationError)]
</PageTitle>

<h1>
    @localizer[nameof(AppStrings.ValidationError)]
</h1>

@foreach (var propName in validationErrors.Errors.Keys)
{
    <p>
        @propName:
    </p>

    @foreach (var error in validationErrors.Errors[propName])
    {
        <li>
            @error
        </li>
    }
}